
.detailform {
  display: flex;
  align-items: center;
  background-image: linear-gradient($lavender, $dark-gray);
  border: 5px solid $black;
  border-top: none;
  z-index: -10;
  width: 50vw;
  min-height: 20vh;
  border-radius: 0px 0px 20px 20px;
  color: $black;
  font-family: 'Days One', sans-serif;
  padding: 15px;
  -webkit-animation: detailSliderAnimation 4s;
  -moz-animation: detailSliderAnimation 4s;
  -o-animation: detailSliderAnimation 4s;
  animation: detailSliderAnimation 4s;
  li {
    text-align: center;
    font-size: 2.5rem;
  }
  a {
    font-size: 2.5rem;
    color: $black;
    text-decoration: underline;
  }
}

@-webkit-keyframes detailSliderAnimation {
  0% {opacity: 0}
  100% {opacity: 1}
  0% {transform: translateY(-150%)}
  100% {transform: translateY(0%)}
}
@-moz-keyframes detailSliderAnimation {
  0% {opacity: 0}
  100% {opacity: 1}
  0% {transform: translateY(-150%)}
  100% {transform: translateY(0%)}
}
@-o-keyframes detailSliderAnimation {
  0% {opacity: 0}
  100% {opacity: 1}
  0% {transform: translateY(-150%)}
  100% {transform: translateY(0%)}
}
@keyframes detailSliderAnimation {
  0% {opacity: 0}
  100% {opacity: 1}
  0% {transform: translateY(-150%)}
  100% {transform: translateY(0%)}
}
.detailOutput {
  min-width: 100%;
  min-height: 100%;
  padding: 5px 10px;
  h2 {
    font-size: 2rem;
    color: $lime-green;
    letter-spacing: 0;
    line-height: 0;
  }
  h3 {
    font-size: 1.5rem;
    color: $lime-green;
    letter-spacing: 0;
    line-height: 0;
  }
}
