.detailgradient-container {
  width: 100vw;
  min-height: 100vh;
  margin-top: 0;
  padding-top: 15vh;
  background-image: radial-gradient($lime-green, $dark-gray);
}
.nav-right-results {
  display: flex;
  padding: 7px;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
  label {
    color: $lime-green;
    font-size: 1.6rem;
    letter-spacing: .3rem;
  }
  input {
    margin-bottom: 10px;
  }
  button {
    @include button($black);
    margin: 0px 10px 15px 30px;
 }
  .search {
    width: 20%;
    height: 10%;
    margin-right: 20px;
  }
}
.detail-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.detailform {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  width: 60vw;
  min-height: 40vh;
  border-radius: 0px 0px 20px 20px;
  font-family: 'Orbitron', sans-serif;
  padding: 15px;
}
.detailOutput {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  min-height: 100%;
  padding: 5px 10px;
  h2 {
    font-size: 2rem;
    color: $lime-green;
    letter-spacing: 0;
    line-height: 0;
  }
  h3 {
    font-size: 1.5rem;
    color: $lime-green;
    letter-spacing: 0;
    line-height: 0;
  }
}
