// .detailgradient-container {
//   width: 100vw;
//   min-height: 100vh;
//   margin-top: 0;
//   padding-top: 15vh;
//   background-image: radial-gradient($lime-green, $dark-gray);
// }
// .nav-right-results {
//   display: flex;
//   padding: 7px;
//   justify-content: flex-end;
//   align-self: flex-end;
//   align-items: flex-end;
//   label {
//     color: $lime-green;
//     font-size: 1.6rem;
//     letter-spacing: .3rem;
//   }
//   input {
//     margin-bottom: 10px;
//   }
//   button {
//     @include button($black);
//     margin: 0px 10px 15px 30px;
//  }
//   .search {
//     width: 20%;
//     height: 10%;
//     margin-right: 20px;
//   }
// }
// .detail-container {
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
// }
.detailform {
  display: flex;
  align-items: center;
  background-image: linear-gradient($lavender, $dark-gray);
  border: 5px solid $black;
  border-top: none;
  // position: absolute;
  // opacity: 0;
  // bottom: 20vh;
  // overflow-y: hidden;
  z-index: -10;
  width: 50vw;
  min-height: 20vh;
  border-radius: 0px 0px 20px 20px;
  color: $black;
  font-family: 'Days One', sans-serif;
  padding: 15px;
  -webkit-animation: detailSliderAnimation 12s;
  -moz-animation: detailSliderAnimation 12s;
  -o-animation: detailSliderAnimation 12s;
  animation: detailSliderAnimation 12s;
  li {
    text-align: center;
    font-size: 2.5rem;
  }
  a {
    font-size: 2.5rem;
    color: $black;
    text-decoration: underline;
  }
}

@-webkit-keyframes detailSliderAnimation {
  0% {opacity: 0}
  20% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}
  0% {transform: translateY(-150%)}
  20% {transform: translateY(0%)}
  80% {transform: translateY(0%)}
  100% {transform: translateY(-150%)}
}
@-moz-keyframes detailSliderAnimation {
  0% {opacity: 0}
  20% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}
  0% {transform: translateY(-150%)}
  20% {transform: translateY(0%)}
  80% {transform: translateY(0%)}
  100% {transform: translateY(-150%)}
}
@-o-keyframes detailSliderAnimation {
  0% {opacity: 0}
  20% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}
  0% {transform: translateY(-150%)}
  20% {transform: translateY(0%)}
  80% {transform: translateY(0%)}
  100% {transform: translateY(-150%)}
}
@keyframes detailSliderAnimation {
  0% {opacity: 0}
  20% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}
  0% {transform: translateY(-150%)}
  20% {transform: translateY(0%)}
  80% {transform: translateY(0%)}
  100% {transform: translateY(-150%)}
}
.detailOutput {
  min-width: 100%;
  min-height: 100%;
  padding: 5px 10px;
  h2 {
    font-size: 2rem;
    color: $lime-green;
    letter-spacing: 0;
    line-height: 0;
  }
  h3 {
    font-size: 1.5rem;
    color: $lime-green;
    letter-spacing: 0;
    line-height: 0;
  }
}
