.gradient-container {
  width: 100vw;
  min-height: 100vh;
  margin-top: 0;
  padding-top: 15vh;
  background-image: radial-gradient($lime-green, $dark-gray);
}
.nav-results {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-gray;
  width: 60vw;
  height: 10vh;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  h3 {
    color: $lime-green;
    align-self: center;
    font-family: 'Orbitron', sans-serif;
  }
  .nav-left-results {
    display: flex;
    }
  @media (max-width: 1250px) {
    height: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    padding-top: 20px;
  }

}


.nav-right-results {
  display: flex;
  padding: 13px;
  height: 100%;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
  font-family: 'Orbitron', sans-serif;
  @media (max-width: 1425px) {
    // justify-content: center;
    align-items: center;
  }
  @media (max-width: 1250px) {
    align-items: center;
    justify-content: center;
    width: 60vw;
    margin-top: 15px;
  }
  label {
    color: $lime-green;
    font-size: 1.6rem;
    letter-spacing: .3rem;
  }
  input {
    margin-bottom: 10px;
    margin-right: 60px;
    @media (max-width: 1450px) {
      margin-right: 40px;
    }
  }
  .search {
    width: 20%;
    height: 20%;
    margin-bottom: 25px;
    margin-right: 40px;
  }
  .button-nav {
    display: flex;
    // height: 100%;
    align-items: flex-end;
    @media (max-width: 1425px) {
      flex-direction: column;
      margin-top: 15px;
    }
    @media (max-width: 1250px) {
      flex-direction: row;
      align-items: center;
    }
    button {
      @include button($black);
      margin: 0px 10px 15px 20px;
      @media (max-width: 1425px) {
        width: 75%;
        height: 45px;
        font-size: 1.6rem;

      }
    }
  }
}
.results-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.results-form {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  width: 60vw;
  min-height: 40vh;
  border-radius: 0px 0px 20px 20px;
  font-family: 'Orbitron', sans-serif;
  padding: 15px;
  z-index: 20;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(125, 125, 125, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}
.resultOutput {
  // display: flex;
  // justify-content: space-around;
  max-width: 50%;
  max-height: 500px;
  padding: 5px 10px;
  overflow-y: scroll;
  h2 {
    font-size: 2rem;
    color: $lime-green;
    letter-spacing: 0;
    line-height: 0;
  }
  h3 {
    font-size: 1.5rem;
    color: $lime-green;
    letter-spacing: 0;
    line-height: 0;
  }
}
.resultList {
  height: 100%;
  width: 100%;
  overflow: hidden;
  li {
    color: $lime-green;
    font-size: 1.6rem;
    padding: 7px;
    font-family: 'Days One', sans-serif;
    cursor: pointer;
  }
}
.displayLine {
  background-color: red;
  height: 20px;
  width: 50%;
}
.map {
  max-width: 50%;
  min-height: 100%;
}

.sebm-google-map-container {
  height: 40vh;
  width: 100%;
}
