html{
  font-size: 62.5%;
}
h1 {
  color: black;
  font-size: 30rem;
  letter-spacing: -6rem;
  line-height: 15rem;
}
h2 {
  color: black;
  font-size: 40rem;
  letter-spacing: -6rem;
  line-height: 15rem;
}
h3 {
  font-size: 3.5rem;
  display: flex;
  justify-content: flex-start;
}
.clock h4 {
  font-size: 3rem;
  color: $lime-green;
}
a {
  font-size: 2rem;
}
.userForm {
font-family: 'Orbitron', sans-serif;
p {
  font-size: 1.3rem;
  text-align: left;
  font-family: 'Orbitron', sans-serif;
  color: $lime-green;
  margin: 20px 15px;
}
}
.nav {
  // font-family: 'Russo One', sans-serif;
// font-family: 'Days One', sans-serif;
font-family: 'Orbitron', sans-serif;
}
