.test {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
}
img {
  width: 75px;
  height: 75px;
}
.userForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $black;
  width: 60vw;
  height: 40vh;
  border-radius: 0px 0px 20px 20px;
  label {
    font-size: 2rem;
    margin-bottom: 15px;
    color: $lime-green;
  }
  input {
    width: 40%;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  button {
    margin-top: 20px;
    width: 25%;
    height: 60px;
    font-size: 2rem;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px $smoke-gray;
    color: $lime-green;
    background-color: $dark-gray;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-gray;
  width: 60vw;
  height: 10vh;
  border-radius: 20px 20px 0px 0px;

  h3 {
    color: $lime-green;
  }
}
