<div class="about-container">
  <div class="test">
    <div class="aboutnav">
      <div class="nav-left">
        <img src="../assets/img/guitar.png">
        <h3 routerLink="">TuneTrip</h3>
        <img src="../assets/img/plane1.png" class="plane">
      </div>
    </div>
    <div class="aboutForm">
      <div class="about">
      <h6>Are you stuck listening to the same music over and over again?</h6>
      <h6>Are you seeking concerts that appeal to your musical taste?</h6>
      <h6>Are you in need of root vegetables?</h6>
      <h4>Then you need TuneTrip!</h4>
      <p>TuneTrip is a exciting new app that helps you find the finest music you will be interested in and concerts to bring the music to life. Simply enter your Last.fm username, an artist of your choice, and your location to rexceive a list of concerts by similar artists in your area. Enjoy!</p>
    </div>
  </div>
  </div>
</div>
