<div class="about-container">
  <div class="test">
    <div class="aboutnav">
      <div class="nav-left">
        <img class="about-image" src="../assets/img/guitar.png">
        <h3 routerLink="">TuneTrip</h3>
        <img class="about-image" src="../assets/img/plane1.png" class="plane">
      </div>
    </div>
    <div class="aboutForm">
      <div class="about">
      <h6>Are you stuck listening to the same music over and over again?</h6>
      <h6>Are you seeking concerts that appeal to your musical tastes?</h6>
      <h4>Then you need TuneTrip!</h4>
      <p>TuneTrip is a exciting new app that helps you find the finest music you will be interested in and concerts to bring the music to life. Simply enter your Last.fm username and your location to receive a list of concerts by similar artists in your area. Enjoy!</p>
    </div>
  </div>
  </div>
</div>
