//colors


$smoke-gray: #e0e0e0;
$black: #000;
$lime-green: #84d100;
$white: #FFF;
$dark-gray: #323331;
$lavender: #b6a4d8;
$kinda-blue: #1656af;

//dimensions

$font-basic: 1rem;

//breakpoints

$xl-breakpoint: 1250px;
$lg-breakpoint: 914px;
$md-breakpoint: 850px;
$sm-breakpoint: 480px;
