//colors

$steel-grey: #333333;
$peach: #dc7725;
$wild-sand: #b5b7b6;

//dimensions

$font-basic: 1rem;

//breakpoints

$xl-breakpoint: 1250px;
$lg-breakpoint: 914px;
$md-breakpoint: 850px;
$sm-breakpoint: 480px;
