<div *ngIf="childShow">
      <ul>
      <div class="detailform">
        <div class="detailOutput">
          <li>{{childShow.performance[0].displayName}}</li>
          <li>{{childShow.start.date}}</li>
          <li>{{childShow.start.time}}</li>
          <li>{{childShow.venue.displayName}}</li>
          <li>{{childShow.type}}</li>
          <li>{{childShow.ageRestriction}}</li>
          <li>{{childShow.location.city}}</li>
          <li><a href="{{childShow.uri}}">SongKick Show Link</a></li>
        </div>
      </div>
    </ul>
</div>
