<div *ngIf="childShow">
  <!-- <div class="detailgradient-container">
    <div class="detail-container"> -->
      <!-- <div class="nav">
        <div class="nav-left">
          <img src="../assets/img/guitar.png">
          <h3 routerLink="">TuneTrip</h3>
          <img src="../assets/img/plane1.png" class="plane">
        </div>
        <div class="nav-right-results">
          <h3>Artist Showtimes</h3>
        </div>
      </div> -->
      <ul>
      <div class="detailform">
        <div class="detailOutput">
          <li>{{childShow.performance[0].displayName}}</li>
          <li>{{childShow.start.date}}</li>
          <li>{{childShow.start.time}}</li>
          <li>{{childShow.venue.displayName}}</li>
          <li>{{childShow.type}}</li>
          <li><a href="{{childShow.uri}}">SongKick Show Link</a></li>
        </div>
      </div>
    </ul>
    <!-- </div>
  </div> -->
</div>
