<div>
  <div>
    <h3>Find new concerts near you!</h3>
  </div>
    <div>
      <div>
        <label>Arist:</label>
        <br>
        <input #artist>
      </div>
      <div>
        <label>Location:</label>
        <br>
        <input #location>
      </div>
    <button type="button" (click)="search(artist.value, location.value);">Search</button>
    <div *ngIf="done">
      <div *ngFor="let artist of artistList">
        <div *ngIf="artist.resultsPage.results.event">
          <h3>{{artist.resultsPage.results.event[0].displayName}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
