<div class="gradient-container">

  <div class="results-container">
    <div class="nav">
      <div class="nav-left">
        <img src="../assets/img/guitar.png">
        <h3 routerLink="">TuneTrip</h3>
        <img src="../assets/img/plane1.png" class="plane">
      </div>
      <div class="nav-right-results">
        <div class="search">
        <label>Location:</label>
        <input #location>
      </div>
        <button type="button" (click)="searchWithLocation(location.value);">Search</button>

      </div>
    </div>
    <div class="results-form">
      <!-- <div class="clock">
        <div class="noon">
          <h4>&#9839;</h4>
        </div>
        <div class="one">
          <h4>&#9833;</h4>
        </div>
        <div class="two">
          <h4>&#9835;</h4>
        </div>
        <div class="three">
          <h4>&#9839;</h4>
        </div>
        <div class="four">
          <h4>&#9835;</h4>
        </div>
        <div class="five">
          <h4>&#9833;</h4>
        </div>
        <div class="six">
          <h4>&#9839;</h4>
        </div>
        <div class="seven">
          <h4>&#9833;</h4>
        </div>
        <div class="eight">
          <h4>&#9835;</h4>
        </div>
        <div class="nine">
          <h4>&#9839;</h4>
        </div>
        <div class="ten">
          <h4>&#9835;</h4>
        </div>
        <div class="eleven">
          <h4>&#9833;</h4>
        </div>
      </div> -->
      <div *ngIf="done" class="resultOutput">
        <div *ngFor="let artist of artistList">
          <div *ngIf="artist.resultsPage.results.event">
            <h3 (click)="showDetail()">{{artist.resultsPage.results.event[0].displayName}}</h3>
            <app-show-detail [childShows]="artist.resultsPage.results.event[0]"></app-show-detail>
          </div>
        </div>
        <script type="text/javascript">

        </script>
      </div>
    </div>

  </div>
</div>
