<div class="gradient-container">
  <div class="results-container">
    <div class="nav-results">
      <div class="nav-left-results">
        <img src="../assets/img/guitar.png">
        <h3 routerLink="">TuneTrip</h3>
        <img src="../assets/img/plane1.png" class="plane">
      </div>
      <div class="nav-right-results">
        <div class="search">
          <label>Location:</label>
          <input #location>
        </div>
        <div class="button-nav">
          <button type="button" (click)="searchWithLocation(location.value);">Search</button>
          <button routerLink="" type="button">Signout</button>
        </div>
      </div>
    </div>
    <div class="results-form">
      <div class="clock" *ngIf="done === false">
        <div class="noon">
          <h4>&#9839;</h4>
        </div>
        <div class="one">
          <h4>&#9833;</h4>
        </div>
        <div class="two">
          <h4>&#9835;</h4>
        </div>
        <div class="three">
          <h4>&#9839;</h4>
        </div>
        <div class="four">
          <h4>&#9835;</h4>
        </div>
        <div class="five">
          <h4>&#9833;</h4>
        </div>
        <div class="six">
          <h4>&#9839;</h4>
        </div>
        <div class="seven">
          <h4>&#9833;</h4>
        </div>
        <div class="eight">
          <h4>&#9835;</h4>
        </div>
        <div class="nine">
          <h4>&#9839;</h4>
        </div>
        <div class="ten">
          <h4>&#9835;</h4>
        </div>
        <div class="eleven">
          <h4>&#9833;</h4>
        </div>
      </div>
      <!-- <ul *ngIf="done && artistList.length===0" class="resultOutput">
        <li class="displayline" color="$lime-green">Sorry, we couldn't find any shows that you might like in this area.</li>
      </ul> -->
        <ul *ngIf="done" class="resultOutput">
          <div class="resultList">
            <li *ngIf="done && artistList.length===0" class="displayline" color="$lime-green">Sorry, we couldn't find any shows that you might like in this area.</li>
          </div>

          <div *ngFor="let artist of artistList; let i = index">
            <div *ngIf="artist.resultsPage.results.event" class="resultList">
              <li (mouseover)="mouseOnShow(artist.resultsPage.results.event[0].venue.displayName, i)" (mouseleave)="mouseOffShow(i)"(click)="showDetail(artist.resultsPage.results.event[0])" class="displayline">{{artist.resultsPage.results.event[0].displayName}}</li>
            </div>
          </div>
        </ul>

        <sebm-google-map *ngIf="done"
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom">
          <sebm-google-map-marker
                *ngFor="let m of markers; let i = index"
                (markerHover)="markerMouseOver(i)"
                (markerClick)="clickMarker(i)"
                [latitude]="m.latitude"
                [longitude]="m.longitude"
                [label]="m.label"
                [title]="m.title">
          </sebm-google-map-marker>
        </sebm-google-map>
    </div>

    <div *ngIf="selectedArtist">
      <app-show-detail [childShow]="selectedArtist" class="show-hover"></app-show-detail>
    </div>
  </div>
  <div>
</div>

</div>
