/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.rowone, .rowtwo, .rowthree, .rowfour {
  z-index: 1;
  position: absolute;
  top: -20px;
  width: 100%;
  opacity: 0; }

.rowone {
  -webkit-animation: rowoneAnimation infinite 20s 5s;
  -moz-animation: rowoneAnimation infinite 20s 5s;
  -o-animation: rowoneAnimation infinite 20s 5s;
  animation: rowoneAnimation infinite 20s 5s; }

@-webkit-keyframes rowoneAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@-moz-keyframes rowoneAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@-o-keyframes rowoneAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@keyframes rowoneAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
.rowtwo {
  -webkit-animation: rowtwoAnimation infinite 15s;
  -moz-animation: rowtwoAnimation infinite 15s;
  -o-animation: rowtwoAnimation infinite 15s;
  animation: rowtwoAnimation infinite 15s; }

@-webkit-keyframes rowtwoAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@-moz-keyframes rowtwoAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@-o-keyframes rowtwoAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@keyframes rowtwoAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
.rowthree {
  -webkit-animation: rowthreeAnimation infinite 12s 8s;
  -moz-animation: rowthreeAnimation infinite 12s 8s;
  -o-animation: rowthreeAnimation infinite 12s 8s;
  animation: rowthreeAnimation infinite 12s 8s; }

@-webkit-keyframes rowthreeAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@-moz-keyframes rowthreeAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@-o-keyframes rowthreeAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@keyframes rowthreeAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
.rowfour {
  -webkit-animation: rowfourAnimation infinite 25s 12s;
  -moz-animation: rowfourAnimation infinite 25s 12s;
  -o-animation: rowfourAnimation infinite 25s 12s;
  animation: rowfourAnimation infinite 25s 12s; }

@-webkit-keyframes rowfourAnimation {
  0% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@-moz-keyframes rowfourAnimation {
  0% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@-o-keyframes rowfourAnimation {
  0% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
@keyframes rowfourAnimation {
  0% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; }
  0% {
    transform: scale(0.2); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(0.2); } }
html {
  font-size: 62.5%; }

h1 {
  color: black;
  font-size: 30rem;
  letter-spacing: -6rem;
  line-height: 15rem; }

h2 {
  color: black;
  font-size: 40rem;
  letter-spacing: -6rem;
  line-height: 15rem; }

h3 {
  font-size: 3.5rem;
  display: flex;
  justify-content: flex-start; }

.clock h4 {
  font-size: 3rem;
  color: #84d100; }

a {
  font-size: 2rem; }

.userForm {
  font-family: 'Orbitron', sans-serif; }

.nav {
  font-family: 'Orbitron', sans-serif; }

.splash-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-top: 15vh;
  background-image: radial-gradient(#84d100, #1656af); }

.rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
  color: black;
  font-size: 60rem;
  letter-spacing: -6rem;
  line-height: 15rem; }
  @media (max-width: 2000px) {
    .rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
      font-size: 50rem;
      letter-spacing: -4rem; } }
  @media (max-width: 1850px) {
    .rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
      font-size: 40rem; } }
  @media (max-width: 1500px) {
    .rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
      font-size: 35rem;
      letter-spacing: -2rem; } }
  @media (max-width: 1300px) {
    .rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
      font-size: 30rem; } }
  @media (max-width: 1120px) {
    .rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
      font-size: 27rem; } }
  @media (max-width: 950px) {
    .rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
      font-size: 24rem; } }
  @media (max-width: 845px) {
    .rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
      font-size: 21rem; } }
  @media (max-width: 750px) {
    .rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
      font-size: 19rem; } }
  @media (max-width: 600px) {
    .rowone h2, .rowtwo h2, .rowthree h2, .rowfour h2 {
      font-size: 12rem; } }

.test {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column; }

img {
  width: 75px;
  height: 75px; }

.userForm {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  width: 60vw;
  min-height: 40vh;
  border-radius: 0px 0px 20px 20px; }
  @media (max-width: 600px) {
    .userForm {
      width: 80vw; } }
  @media (max-width: 425px) {
    .userForm {
      width: 90vw; } }
  .userForm label {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #84d100; }
  .userForm input {
    width: 40%;
    font-size: 1.5rem;
    margin-bottom: 15px; }
  .userForm button {
    margin-top: 20px;
    width: 25%;
    height: 60px;
    font-size: 2rem;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #e0e0e0;
    color: #84d100;
    background-color: #323331;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer; }

.nav {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323331;
  width: 60vw;
  height: 10vh;
  border-radius: 20px 20px 0px 0px;
  position: relative; }
  @media (max-width: 700px) {
    .nav {
      flex-direction: column;
      align-content: center; } }
  @media (max-width: 600px) {
    .nav {
      width: 80vw; } }
  @media (max-width: 425px) {
    .nav {
      width: 90vw; } }
  .nav h3 {
    color: #84d100;
    align-self: center; }
  .nav .nav-left {
    display: flex; }
    @media (max-width: 700px) {
      .nav .nav-left {
        margin-top: 15px;
        width: 100%;
        justify-content: center; } }
  .nav .nav-right {
    display: flex;
    padding: 7px;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: flex-end; }
    @media (max-width: 700px) {
      .nav .nav-right {
        width: 100%;
        justify-content: center;
        align-items: center; } }
    .nav .nav-right a {
      color: #84d100;
      text-decoration: none;
      cursor: pointer; }
    .nav .nav-right:hover > .about {
      left: 0; }

a {
  color: #84d100;
  text-decoration: none;
  cursor: pointer; }

.clock {
  position: relative;
  bottom: 5%;
  z-index: 10;
  width: 30vw;
  height: 30vh; }

.noon {
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-animation: loadingAnimation infinite 1.2s linear;
  -moz-animation: loadingAnimation infinite 1.2s linear;
  -o-animation: loadingAnimation infinite 1.2s linear;
  animation: loadingAnimation infinite 1.2s linear; }

.one {
  position: absolute;
  top: 7%;
  left: 75%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 0.1s;
  -moz-animation: loadingAnimation infinite 1.2s linear 0.1s;
  -o-animation: loadingAnimation infinite 1.2s linear 0.1s;
  animation: loadingAnimation infinite 1.2s linear 0.1s; }

.two {
  position: absolute;
  top: 25%;
  left: 93%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 0.2s;
  -moz-animation: loadingAnimation infinite 1.2s linear 0.2s;
  -o-animation: loadingAnimation infinite 1.2s linear 0.2s;
  animation: loadingAnimation infinite 1.2s linear 0.2s; }

.three {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 0.3s;
  -moz-animation: loadingAnimation infinite 1.2s linear 0.3s;
  -o-animation: loadingAnimation infinite 1.2s linear 0.3s;
  animation: loadingAnimation infinite 1.2s linear 0.3s; }

.four {
  position: absolute;
  top: 75%;
  left: 93%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 0.4s;
  -moz-animation: loadingAnimation infinite 1.2s linear 0.4s;
  -o-animation: loadingAnimation infinite 1.2s linear 0.4s;
  animation: loadingAnimation infinite 1.2s linear 0.4s; }

.five {
  position: absolute;
  top: 93%;
  left: 75%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 0.5s;
  -moz-animation: loadingAnimation infinite 1.2s linear 0.5s;
  -o-animation: loadingAnimation infinite 1.2s linear 0.5s;
  animation: loadingAnimation infinite 1.2s linear 0.5s; }

.six {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 0.6s;
  -moz-animation: loadingAnimation infinite 1.2s linear 0.6s;
  -o-animation: loadingAnimation infinite 1.2s linear 0.6s;
  animation: loadingAnimation infinite 1.2s linear 0.6s; }

.seven {
  position: absolute;
  top: 93%;
  left: 25%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 0.7s;
  -moz-animation: loadingAnimation infinite 1.2s linear 0.7s;
  -o-animation: loadingAnimation infinite 1.2s linear 0.7s;
  animation: loadingAnimation infinite 1.2s linear 0.7s; }

.eight {
  position: absolute;
  top: 75%;
  left: 7%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 0.8s;
  -moz-animation: loadingAnimation infinite 1.2s linear 0.8s;
  -o-animation: loadingAnimation infinite 1.2s linear 0.8s;
  animation: loadingAnimation infinite 1.2s linear 0.8s; }

.nine {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 0.9s;
  -moz-animation: loadingAnimation infinite 1.2s linear 0.9s;
  -o-animation: loadingAnimation infinite 1.2s linear 0.9s;
  animation: loadingAnimation infinite 1.2s linear 0.9s; }

.ten {
  position: absolute;
  top: 25%;
  left: 7%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 1s;
  -moz-animation: loadingAnimation infinite 1.2s linear 1s;
  -o-animation: loadingAnimation infinite 1.2s linear 1s;
  animation: loadingAnimation infinite 1.2s linear 1s; }

.eleven {
  position: absolute;
  top: 7%;
  left: 25%;
  -webkit-animation: loadingAnimation infinite 1.2s linear 1.1s;
  -moz-animation: loadingAnimation infinite 1.2s linear 1.1s;
  -o-animation: loadingAnimation infinite 1.2s linear 1.1s;
  animation: loadingAnimation infinite 1.2s linear 1.1s; }

@-webkit-keyframes loadingAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@-moz-keyframes loadingAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@-o-keyframes loadingAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes loadingAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
.gradient-container {
  width: 100vw;
  min-height: 100vh;
  margin-top: 0;
  padding-top: 15vh;
  background-image: radial-gradient(#84d100, #323331); }

.nav-right-results {
  display: flex;
  padding: 13px;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end; }
  .nav-right-results label {
    color: #84d100;
    font-size: 1.6rem;
    letter-spacing: .3rem; }
  .nav-right-results input {
    margin-bottom: 10px;
    margin-right: 60px; }
  .nav-right-results button {
    margin-top: 20px;
    width: 25%;
    height: 60px;
    font-size: 2rem;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #e0e0e0;
    color: #84d100;
    background-color: #000;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    margin: 0px 10px 15px 60px; }
  .nav-right-results .search {
    width: 20%;
    height: 20%;
    margin-bottom: 25px;
    margin-right: 40px; }

.results-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column; }

.results-form {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  width: 60vw;
  min-height: 40vh;
  border-radius: 0px 0px 20px 20px;
  font-family: 'Orbitron', sans-serif;
  padding: 15px; }

.resultOutput {
  max-width: 50%;
  max-height: 100%;
  padding: 5px 10px;
  overflow-y: scroll; }
  .resultOutput h2 {
    font-size: 2rem;
    color: #84d100;
    letter-spacing: 0;
    line-height: 0; }
  .resultOutput h3 {
    font-size: 1.5rem;
    color: #84d100;
    letter-spacing: 0;
    line-height: 0; }

.resultList {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .resultList li {
    color: #84d100;
    font-size: 1.6rem;
    padding: 7px;
    font-family: 'Days One', sans-serif; }

.displayLine {
  background-color: red;
  height: 20px;
  width: 50%; }

.map {
  max-width: 50%;
  min-height: 100%; }

.plane {
  transform: rotate(15deg); }

.about-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-top: 15vh;
  background-image: radial-gradient(#b6a4d8, #323331); }

.test {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column; }

img {
  width: 75px;
  height: 75px; }

.aboutForm {
  display: flex;
  padding-top: 25px;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  width: 60vw;
  min-height: 40vh;
  border-radius: 0px 0px 20px 20px; }
  @media (max-width: 1100px) {
    .aboutForm {
      width: 80vw; } }
  @media (max-width: 825px) {
    .aboutForm {
      width: 90vw; } }

.aboutnav {
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323331;
  width: 60vw;
  height: 10vh;
  border-radius: 20px 20px 0px 0px;
  position: relative; }
  @media (max-width: 1100px) {
    .aboutnav {
      width: 80vw; } }
  @media (max-width: 825px) {
    .aboutnav {
      width: 90vw; } }
  .aboutnav h3 {
    color: #84d100;
    align-self: center; }
  .aboutnav .nav-left {
    display: flex; }
    .aboutnav .nav-left h3 {
      cursor: pointer; }

.about {
  font-family: 'Russo One', sans-serif;
  color: #84d100;
  width: 93%;
  height: 93%;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  text-align: center; }
  .about p {
    font-size: 1.5rem;
    text-align: left; }
    @media (max-width: 730px) {
      .about p {
        font-size: 1.2rem; } }
  .about h6 {
    font-size: 1.7rem; }
    @media (max-width: 730px) {
      .about h6 {
        font-size: 1.4rem; } }
  .about h4 {
    font-size: 4rem;
    margin-bottom: 40px;
    margin-top: 10px; }
    @media (max-width: 730px) {
      .about h4 {
        font-size: 3rem; } }

.detailgradient-container {
  width: 100vw;
  min-height: 100vh;
  margin-top: 0;
  padding-top: 15vh;
  background-image: radial-gradient(#84d100, #323331); }

.nav-right-results {
  display: flex;
  padding: 7px;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end; }
  .nav-right-results label {
    color: #84d100;
    font-size: 1.6rem;
    letter-spacing: .3rem; }
  .nav-right-results input {
    margin-bottom: 10px; }
  .nav-right-results button {
    margin-top: 20px;
    width: 25%;
    height: 60px;
    font-size: 2rem;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #e0e0e0;
    color: #84d100;
    background-color: #000;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    margin: 0px 10px 15px 30px; }
  .nav-right-results .search {
    width: 20%;
    height: 10%;
    margin-right: 20px; }

.detail-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column; }

.detailform {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  width: 60vw;
  min-height: 40vh;
  border-radius: 0px 0px 20px 20px;
  font-family: 'Orbitron', sans-serif;
  padding: 15px; }

.detailOutput {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  min-height: 100%;
  padding: 5px 10px; }
  .detailOutput h2 {
    font-size: 2rem;
    color: #84d100;
    letter-spacing: 0;
    line-height: 0; }
  .detailOutput h3 {
    font-size: 1.5rem;
    color: #84d100;
    letter-spacing: 0;
    line-height: 0; }

/*# sourceMappingURL=styles.css.map */
